networks:
  app_network:
    driver: bridge
    
volumes:
  postgres_data:

services:      
  executor:
    build:
      context: .
      dockerfile: ExecutorService/Dockerfile
    ports:
      - "${EXECUTOR_PORT:-1337}:1337"
    devices:
      - /dev/kvm:/dev/kvm
    env_file:
      - .env
    networks:
      - app_network
    group_add:
      - ${KVM_GID}
      
  algoduck:
    image: algoduck
    build:
      context: .
      dockerfile: AlgoDuck/Dockerfile
      args:
        BUILD_CONFIGURATION: ${BUILD_CONFIGURATION}
    ports:
      - "${WEB_PORT:-8080}:8080"
      - "${WEB_PORT2:-8081}:8081"
    env_file:
      - .env
    networks:
      - app_network 

# this is just for development purposes. Remove later on        
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h 127.0.0.1 -p 5432 -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s
    ports:
      - "${POSTGRES_PORT:-5433}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network