networks:
  app_network:
    driver: bridge
    
volumes:
  postgres_data:
  dataprotection_keys:

services:      
#  executor:
#    build:
#      context: .
#      dockerfile: ExecutorService/Dockerfile
#    devices:
#      - /dev/kvm:/dev/kvm
#    env_file:
#      - .env
#    networks:
#      - app_network
#    group_add:
#      - ${KVM_GID}
#    develop:
#      watch:
#        - action: rebuild
#          path: ExecutorService/
      
  algoduck:
    image: algoduck
    build:
      context: .
      dockerfile: AlgoDuck/Dockerfile
      args:
        BUILD_CONFIGURATION: ${BUILD_CONFIGURATION}
    ports:
      - "${WEB_PORT:-8080}:8080"
      - "${WEB_PORT2:-8081}:8081"
    volumes:
      - dataprotection_keys:/app/keys
    env_file:
      - .env
    networks:
      - app_network 
    develop:
      watch:
        - action: rebuild
          path: AlgoDuck/

# this is just for development purposes. Remove later on        
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT:-5433}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network